.NavbarArea{
    position: absolute;
   
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    .ImgNavbar{

    }
    .MainNav{
        .NavUl{
            
            font-size: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            gap: 40px;
        }
    }
}